<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<!-- 
                                    :::::: don't remove credit ::::::
|   |   |   |  |  |  | | | | |||||||||| http://officialwiccan.tumblr.com |||||||| | | | |  |  |  |  |   |   |
       __  __ _    _      _        _                 
  ___ / _|/ _(_)__(_)__ _| |_ __ _(_)__ __ __ _ _ _  
 / _ \  _|  _| / _| / _` | \ V  V / / _/ _/ _` | ' \ 
 \___/_| |_| |_\__|_\__,_|_|\_/\_/|_\__\__\__,_|_||_|
                                                     

-->
 
<title>{Title}</title>
{block:Description}
    <meta name="description" content="{MetaDescription}" />
{/block:Description}
<link rel="shortcut icon" href="{image:favicon}">
<link rel="alternate" type="application/rss+xml" href="{RSS}">
 
<!-- imports -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://static.tumblr.com/heqtwlw/ftAn7cy1u/jquery.scrollto-1.4.2-min.js"></script>
<script src="http://static.tumblr.com/heqtwlw/FJXn7cy1b/jquery.localscroll-1.2.7-min.js"></script>
 
<script type="text/javascript">
    $(document).ready(function () {  
        $.localScroll();       
    });
</script>

<script type="text/javascript">
		$(document).ready(function() {
			// grab the initial top offset of the navigation 
		   	var stickyNavTop = $('.nav').offset().top;

		   	// our function that decides weather the navigation bar should have "fixed" css position or not.
		   	var stickyNav = function(){
			    var scrollTop = $(window).scrollTop(); // our current vertical position from the top
			         
			    // if we've scrolled more than the navigation, change its position to fixed to stick to top,
			    // otherwise change it back to relative
			    if (scrollTop > stickyNavTop) { 
			        $('.nav').addClass('sticky');
			    } else {
			        $('.nav').removeClass('sticky'); 
			    }
			};

			stickyNav();
			// and run it again every time you scroll
			$(window).scroll(function() {
				stickyNav();
			});
		});
	</script>
 
{block:ifInfiniteScrolling}
    <script type="text/javascript" src="http://codysherman.tumblr.com/tools/infinite-scrolling/code"></script>
{/block:ifInfiniteScrolling}

<!-- meta tags -->
<meta name="image:favicon" content="http://freefavicons.org/download/blue-whale/blue-whale.png" />

<meta name="color:Title" content="#fff" />
<meta name="color:Subtitle" content="#fff" />
<meta name="color:Body Font" content="#3D3D3D" />
<meta name="color:Body Background" content="#F8F8F8" />
<meta name="color:Link" content="#236C75" />
<meta name="color:Hover Link" content="#236C75" />
<meta name="color:Post Background" content="#fff" />
<meta name="color:Border" content="#F0F0F0" />

<meta name="text:Header Slab Color" content="rgba(0,0, 0, 0.6)" />
<meta name="color:Top Bar" content="#fff" />
<meta name="color:Border" content="#F0F0F0" />
<meta name="color:Scrollbar" content="#236C75" />
<meta name="color:Post Info" content="#fff" />
 
<meta name="if:Whole Header" content="1" />
<meta name="if:Header Slab" content="1" />
<meta name="if:Infinite Scrolling" content="0" />
<meta name="if:Show Captions" content="1" />
<meta name="if:250px Posts" content="0" />
<meta name="if:400px Posts" content="0" />
<meta name="if:500px Posts" content="1" />

<meta name="if:UpdatesTab" content="1" />
<meta name="text:updatesTabText1" content="sed do eiusmod" />
<meta name="text:updatesLinkURL1" content="#" />
<meta name="text:updatesLink1" content="link" />
<meta name="text:updatesContent1" content="tempor incididunt ut labore" /> 
<meta name="text:updatesTabText2" content="Ut enim ad minim veniam" />
<meta name="text:updatesLinkURL2" content="#" />
<meta name="text:updatesLink2" content="link" />
<meta name="text:updatesContent2" content="et dolore magna aliqua " />

<meta name="if:Custom Link Four" content="1" />
<meta name="if:Custom Link Five" content="1" />
<meta name="if:Custom Link Six" content="1" />
       
<meta name="image:Whole Header" content="https://farm8.staticflickr.com/7100/7204444032_145426bd56_k.jpg" />
<meta name="image:Background" content="" />

<meta name="text:Link One" content="↻" />
<meta name="text:Link One URL" content="/" />
<meta name="text:Link Two" content="ask" />
<meta name="text:Link Two URL" content="/ask" />
<meta name="text:Link Three" content="archive" />
<meta name="text:Link Three URL" content="/archive" />
<meta name="text:Link Four" content="Link Four" />
<meta name="text:Link Four URL" content="Link Four URL" />
<meta name="text:Link Five" content="Link Five" />
<meta name="text:Link Five URL" content="Link Five URL" />
<meta name="text:Link Six" content="Link Six" />
<meta name="text:Link Six URL" content="Link Six URL" />

<!-- fonts -->

 <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
 
<style type="text/css">
 
::-webkit-scrollbar {
    height: 10px;
    width: 5px;
    background: #fff;
}
           
::-webkit-scrollbar-thumb:vertical {
    background: {color:Scrollbar};
}
 
::selection {
    background: {color:Link};
    color: white;
}
           
::-moz-selection {
    background: {color:Link};
    color: white;
}
 
p::selection {
    background: {color:Link};
    color: white;
}
           
p::-moz-selection {
    background: {color:Link};
    color: white;
}

html, body, .header {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 14px;
    color: {color:Body Font};
    letter-spacing: 1px;
}
 
blockquote, blockquote blockquote {
    border-left: 2px solid {color:Link};
    padding-left: 4px;
}
 
.header {
    background: url({image:Whole Header}) fixed top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}
 
#slab {
    height: 200px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    display: block;
    left: 0%;
    right: 0%;
    text-align: center;
    z-index:2;
}
 
#bracer {
    position: relative;
    top: 35%;
    display: block;
    z-index:2;
}
 
#title {
    font-family: 'Playfair Display';
    font-size: 26px;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: relative;
    padding-top: 50px;
    padding-bottom: 5px;
    width: auto;
    color: {color:Title};
    z-index:2;
}
 
#subtitle {
    margin: 0 auto;
    color: {color:Subtitle};
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 320px;
    position: relative;
    text-align: center;
    padding: 15px;
    padding-top: 15px;
    border-top: 1px dotted {color:Border};
    z-index:2;
}

a {
    color: {color:Link};
    text-decoration:none;
}
 
a:hover {
    color: {color:Hover Link};
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

b {
    font-weight:700;
}

#down {
    /* arrow underneath subtitle */
    font-family: 'Times New Roman';
    font-size: 36px;
}

#down a {
    border:none;
}

#container {
    width: 830px;
    height: auto;
    margin-right: 0 auto;
    left: 0%;
    right: 0%;
}

.nav {
	padding: 25px 0px 25px 240px;
	background-color: rgba(255, 255, 255, 0.6);
	position: -webkit-sticky;
	top: 45px;
	z-index: 1;
}
.header, .nav {
	text-align: left;
	color: #787878;
}
 
.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
}  
 
#entries {
    position: absolute;
    width: {block:If250pxPosts}800px;{/block:If250pxPosts} {block:If400pxPosts}400px{/block:If400pxPosts} {block:If500pxPosts}500px{/block:If500pxPosts};
    clear: both;
    padding-left: 60px;
    position: static;
    margin: 0 auto;
    padding-top: 100px;
}
 
.post {
    width: {block:If250pxPosts}width: 250px;{/block:If250pxPosts} {block:If400pxPosts}400px{/block:If400pxPosts} {block:If500pxPosts}500px{/block:If500pxPosts};
    background: {color:Post Background};
    margin: 80px 0px 100px 50px;
    clear: both;
    float:left;
    border-width:5px;
    border-color:{color:Post Background};
}
.post img {
    max-width: 100%;
}
 
.quote {
    font-size: 24px;
    font-style: italic;
}
 
#player { 
    width:30px;
    height:30px;
    position:absolute;
    overflow:hidden;
    margin-top:55px;
    margin-left:55px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    opacity: 0.7;
    filter:alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    z-index: 10;
}

#albumart {
    float:left;
    margin:10px 0px 0px 10px;
}

#caption {
    margin-top: 140px;
}

#audioinfo {
    line-height:24px;
    margin-left:20px;
    padding-left: 20px;
    color: {color:Link};
}
 
#ask {
	/* ask body */
    width: {block:If400pxPosts}400px{/block:If400pxPosts} {block:If500pxPosts}500px{/block:If500pxPosts};
    padding: 15px;
    background: {color:Post Info};
    text-align: justify;
}

#askerIcon {
    margin: 0px 10px 5px 0px;
    border: 1px dotted {color:Link};
    float:left
}
 
#ask {
	/* asker */
    width: {block:If400pxPosts}400px{/block:If400pxPosts} {block:If500pxPosts}500px{/block:If500pxPosts};
    padding: 10px;
    color: {color:Link};
    text-align: justify;
}

#ask a {
	/* so asker username shows up against background */
    color: {color:Link};
}

#answer {
   text-align:justify;
   margin:15px 0px 15px 10px;
   padding: 0px 15px 0px 10px;
}
 
#chat {
    font-family:'Source Code Pro';	
}

#odd {
    background-color:{color:Link};
}

#even {
    background-color:{color:Hover Link};
}
 
.post:hover #info {
    opacity: 0.8;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;    
    transition: all 0.5s ease-in-out;
}
 
#info {
    width: {block:If400pxPosts}400px{/block:If400pxPosts} {block:If500pxPosts}500px{/block:If500pxPosts};
    background: {color:Post Background};
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding: 15px 0px;
    margin-top: 0px;
    opacity: 0;
    position: absolute;
    z-index: 1;
}
 
#info a {
    color: {color:Link};
    border: none;
}

#postTags {
    font-size: 10px;
    padding-bottom: 15px;
}

#pagination {
    padding-top: 50px;
    padding-left: {block:If400pxPosts}110px{/block:If400pxPosts} {block:If500pxPosts}160px{/block:If500pxPosts};
    padding-bottom: 140px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 11px;
    width: 300px;
    text-align: center;
}
 
#pagination a {
    color: {color:Link};
    padding: 10px;
    border: 1px dotted {color:Top Bar};
    
}
 
#pagination a:hover {
    background: {color:Link};
 	/* hover effects inherited */
}
 
.current_page {
    padding: 10px;
    color: {color:Top Bar};
    background: {color:Link};
} 

#doc {
	position:fixed;
	bottom:10px;
	left:10px;
}
 
h1 {
    color: {color:Link};
    letter-spacing: -1px;
    font-family: 'Playfair Display';
    font-size: 30px;
    text-align: center;
}

li {
    list-style-type: none;
}

li:before {
    content: "■ ";
    color: {color:Link};
}

/* straight up taken from tumblr documentation */
ol.notes {    
    padding: 0px;
    padding-left: 30px;
    margin: 20px 0px;
    list-style-type: none;
}
 
ol.notes li.note {
    padding: 10px;
}
 
 
ol.notes li.note .answer_content {
    font-weight: normal;
}
 
ol.notes li.note blockquote {
    border-color: #eee;
    padding: 4px 10px;
    margin: 10px 0px 0px 25px;
}
 
ol.notes li.note blockquote a {
    text-decoration: none;
}
 
* {
  box-sizing: border-box;
}

#leftTri {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent {color:Link} transparent transparent;
}
 
{block:ifUpdatesTab}
 	/* updates tab */
 	/* by http://hnnnngoverphan.tumblr.com/ */

#tabtab{
    /*section title */
    font-size:15px;
    padding:10px;
    margin-bottom:5px;
    margin-top:5px;
    background:{color:Post Background};
    border: 1px dotted {color:Link};
    color:#000000;
    width:90%;
}
 
 
#hnnnngoverphan {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='');
    z-index:1000;
    position: fixed;
    top: 55px;
    right: 0px;
    width: 20px;
    background-color:transparent;
    padding: 40px 0;
    text-align: center;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
 
#hnnnngoverphan_meow {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='');
    display:block;
    overflow-y:scroll;
    overflow-x:hidden;
    top: -8px;
    right: -370px;
    position: fixed;
    width: 350px;
    height:100%;
    padding: 10px;
    padding-bottom:20px;
    padding-top:20px;
    background:#fff;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
    text-align: right;
}
 
#hnnnngoverphan:hover {
    z-index:1000;
    right: 370px;
}
 
#hnnnngoverphan:hover .phanphan {
    opacity:0;
    -webkit-transition: opacity 0.7s linear;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}
 
#hnnnngoverphan:hover #hnnnngoverphan_meow {
    z-index:1000;
    right: 0px;
}
 
 
{/block:ifUpdatesTab}
 
</style>
	
{block:ifUpdatesTab}
	<!-----------updates tab----------->
	<div id="hnnnngoverphan">
        <div id ="leftTri" style="margin-top:220px;"></div>
        <div id="hnnnngoverphan_meow">
        <div id="tabtab">links</div>
        <center>
        <div id="links">
         
        <div id="tabtab">{text:updatesTabText1}</div>
        	<li><a href="{text:updatesLinkURL1}">{text:updatesLink1}</a><p>
        <li>{text:updatesContent1} <p>
        <br>
        
        <!-- copy to create new section -->
        <div id="tabtab">{text:updatesTabText2}</div>
        	<li><a href="{text:updatesLinkURL2}">{text:updatesLink2}</a><p>
        <li>{text:updatesContent2} <p>
        <br>
        
        </div>
        <br></center>
        </div>
        </div>
	<!-----------end----------->
	{/block:ifUpdatesTab}
</head>
<body>
 
{block:ifWholeHeader}
<div class = "header">
 
    {block:ifHeaderSlab}
    <div id="bracer">
        <div id="slab">
         
        <div id="title">{Title}</div>
        <div id="subtitle">
            {MetaDescription}<p>
                <div id = "down"><a href="#container">▾</a></div>
            </p></div>
         
        </div>
    </div>
    {/block:ifHeaderSlab}
 </div>
{/block:ifWholeHeader}

<div class="nav">
    <b>i.</b> <a href="{text:Link One URL}">{text:Link One}</a>
    <b>ii.</b> <a href="{text:Link Two URL}">{text:Link Two}</a>
    <b>iii.</b> <a href="{text:Link Three URL}">{text:Link Three}</a>
    {block:ifCustomLinkFour}<b>iv.</b> <a href="{text:Link Four URL}">{text:Link Four}</a>{/block:ifCustomLinkFour}
    {block:ifCustomLinkFive}<b>v.</b> <a href="{text:Link Five URL}">{text:Link Five}</a>{/block:ifCustomLinkFive}
    {block:ifCustomLinkSix}<b>vi.</b> <a href="{text:Link Six URL}">{text:Link Six}</a>{/block:ifCustomLinkSix}
    <b>vii.</b> <a href = "http://officialwiccan.tumblr.com">credit</a>

</div>
<div id="container">
 
<div id="content">
 
    <div id="entries">
        <div class="autopagerize_page_element">
        {block:Posts}
            <div class="post">
             
                {block:IndexPage}
                <div id="info">
                    {block:Date}
                    	<a href="{Permalink}"><b>{TimeAgo}</b></a>
                    {/block:Date}
                    {block:NoteCount}
                    	&nbsp;|&nbsp;<a href="{Permalink}">{NoteCountWithLabel}</a>&nbsp;|&nbsp;
                    {/block:NoteCount}
                    <a href="{ReblogURL}" target="_blank">reblog</a><br> <!-- open in new tab -->
                    {block:HasTags}
                    <div id = "postTags">
                	 {block:Tags} ·<a href="{TagURL}">{Tag}</a>{/block:Tags}
                    </div>
                    {/block:HasTags}
                </div>
            {/block:IndexPage}
             
            {block:Text}
            <h1>{block:Title}{Title}{/block:Title}</h1>
            {Body}
            {/block:Text}
                       
            {block:Photo}
                {LinkOpenTag}
                    {block:If400pxPosts}<img src="{PhotoURL-400}">{/block:If400pxPosts}
                    {block:If500pxPosts}<img src="{PhotoURL-500}">{/block:If500pxPosts}
                {LinkCloseTag}
                {block:IfShowCaptions}
                    {block:Caption}{Caption}{/block:Caption}
                {/block:IfShowCaptions}
            {/block:Photo}
                           
            {block:Photoset}
            {block:If400pxPosts}{Photoset-400}{/block:If400pxPosts}{block:If500pxPosts}{Photoset-500}{/block:If500pxPosts}
            {block:IfShowCaptions}
            {block:Caption}{Caption}{/block:Caption}
            {/block:IfShowCaptions}
            {/block:Photoset}
                           
            {block:Quote}
                <div class="quote">
                {Quote}
                {block:Source} &#8212;{Source}{/block:Source}
                </div>
            {/block:Quote}
                           
            {block:Link}
            <h1><a href="{URL}" {Target}>{Name}</a></h1>
            {block:Description}{Description}{/block:Description}
            {/block:Link}
                           
            {block:Chat}
            
	            {block:Title}<h1>{Title}</h1>{/block:Title}
	            <div id = "chat">
		            {block:Lines}
		            <div id = {Alt}>
		            	{block:Label}<b>{Label}</b>{/block:Label}
		        	 {Line}
		            </div><br />
		            {/block:Lines}
                    </div>
            {/block:Chat}
             
            {block:Audio}
                <div id= "player">{AudioPlayerWhite}</div>
                <div id="albumart">{block:AlbumArt}<img src="{AlbumArtURL}" width="120">{/block:AlbumArt}</div>
            <div id = "audioinfo"><br>
            {block:TrackName}
                <b>&nbsp;&nbsp;TRACK NAME: {TrackName} </b>
            {/block:TrackName}<br>
            {block:Artist}
                 <b>&nbsp;&nbsp;ARTIST: {Artist} </b>
             {/block:Artist} <br>
             {block:Album}
                <b>&nbsp;&nbsp;ALBUM: {Album}</b>
            {/block:Album}<br>
            &nbsp;&nbsp;{PlayCountWithLabel} <br><br>
            
            {block:caption}<div class="caption">{caption}</div>{/block:caption}
            </div>
            {/block:Audio}
             
            {block:Video}
                {Video-500}
                {block:IfShowCaptions}
                {block:Caption}{Caption}{/block:Caption}
                {/block:IfShowCaptions}
            {/block:Video}
                           
            {block:ReblogParent}
             <!--{SourceURL}{block:SourceLogo}<img src="{BlackLogoURL}"
            width="{LogoWidth}" height="{LogoHeight}" alt="{SourceTitle}" />
            {/block:SourceLogo}
            {block:NoSourceLogo}{SourceLink}{/block:NoSourceLogo}-->
            {/block:ReblogParent}
             
             
            {block:Answer}
            <div id="ask" style="min-height: 50px;">
            <div id = "askerIcon"><img src="{AskerPortraitURL-40}"></div>
            <b>{Asker}</b> whispered: <br>{Question}
            </div>
            <div id = "answer">{Answer}</div>
            {/block:Answer}
             
            {block:PermalinkPage}<center><br>
            {block:RebloggedFrom}via: <a href="{ReblogParentURL}">{ReblogParentName}</a>{/block:RebloggedFrom}{block:RebloggedFrom} ©: <a href="{ReblogRootURL}">{ReblogRootName}</a>{/block:RebloggedFrom}<br />{block:Date}
            <a href="{Permalink}">{TimeAgo} - {ShortMonth} {DayOfMonth}, {Year}</a>
            {/block:Date}{block:NoteCount} | <a href="{Permalink}">{NoteCountWithLabel}</a>{/block:NoteCount}<br>
            {block:Tags}· <a href="{TagURL}">{Tag}</a> {/block:Tags}
            </center>
            {/block:PermalinkPage}
             
            {block:PostNotes}{PostNotes}{/block:PostNotes}
            </div>
        {/block:Posts}
         
        </div>
         
        {block:IfNotInfiniteScrolling}
        {block:Pagination}
        <div id="pagination">
                   
            {block:PreviousPage}
                <a href="{PreviousPage}" class="jump_page">Forth</a>
            {/block:PreviousPage}
                           
            {block:JumpPagination length="5"}
                {block:CurrentPage}
                <span class="current_page">{PageNumber}</span>
                {/block:CurrentPage}
                                   
                {block:JumpPage}
                    <a class="jump_page" href="{URL}">{PageNumber}</a>
                {/block:JumpPage}
            {/block:JumpPagination}
                           
            {block:NextPage}
                <a href="{NextPage}" class="jump_page">Next</a>
            {/block:NextPage}
         
        </div>
        {/block:Pagination}
        {/block:IfNotInfiniteScrolling}
         
        </div>
    </div>
</div>
</body>
</html>
